.form {
    display: flex;
    gap: 25px;
}

.box {
    margin: 0;
    display: flex;
    justify-content: left;
    padding: 40px;
    background-color: rgb(231, 230, 222);
}

.field {
    width: 300px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1ps solid grey;
    font-size: 15px;
}

.btn {
    border-radius: 10px;
    border: 1ps solid grey;
    font-size: 15px;
    width: 150px;
}